.catalog-products-preview {
  display: grid;
  align-items: center;
  justify-items: center;
  row-gap: 50px;

  .product-tiles {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 24px;
    row-gap: 50px;
    width: 100%;

    .product-tile {
      &:nth-child(even) {
        justify-self: end;
      }

      &:nth-child(odd) {
        justify-self: start;
      }
    }

    @include media-breakpoint-up('lg') {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
